a:link {color:rgb(0,136,204);text-decoration:none;}

a:visited {color:rgb(0,136,204);text-decoration:none;}

a:hover {color:rgb(0,136,204);text-decoration:underline;}

a:active {color:rgb(0,136,204);text-decoration:none;}

img.border{padding: 3px 3px 3px 3px;border:1px solid rgb(203,203,203);box-shadow: 1px 1px 1px .5px rgb(203,203,203);}	

#navbar ul {
    margin: 0;
    padding: 5px;
    list-style-type: none;
    background-color: #777777;
    font-family:Arial, sans-serif;
}

#navbar ul li {
    display: inline-table;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

#navbar ul li a {
    text-decoration: none;
    color: #fff;
    background-color: #777777;
}

#navbar ul li a:hover {
    color: #000;
    background-color: #fff;
}